window {
  background-color: rgba(0, 0, 0, 0);
}

box.btn-area {
  padding: 10px 15px;
  border: 10px inset rgba(56, 32, 72, 0.7);
  border-radius: 20px;
  background-color: rgba(96, 64, 120, 0.7);
}

button {
  background-image: none;
  border-width: 3px;
  border-radius: 30px;
}

button:focus {
  box-shadow: inset 0 -6px rgba(200, 200, 200, 0.5);
}

.btn-sys {
  border-color: rgb(120, 100, 140);
  background-color: rgb(140, 120, 160);
}

.btn-logout {
  border-color: rgb(150, 120, 80);
  background-color: rgb(180, 150, 100);
}

.btn-reboot {
  border-color: rgb(80, 105, 80);
  background-color: rgb(100, 125, 100);
}

.btn-poweroff {
  border-color: rgb(135, 60, 60);
  background-color: rgb(180, 80, 80);
}
