/* Transparent background */
window {
	background-color: rgba(0, 0, 0, 0);
}

/* Copied from taffybar default */

/* Top level styling */

.pulp-bar {
	border-style: solid;
	border-color: rgba(40, 24, 64, 0.8);
	background-color: rgba(32, 16, 56, 0.8);
}

/* Left */
#pulp-statusbar {
	border-radius: 0px 0px 0px 5px;
	border-width: 0px 0px 1px 1px;
	padding: 1px 5px 1px 5px;
}

/* Center */
#pulp-taskbar {
	border-radius: 0px 0px 5px 5px;
	border-width: 0px 1px 1px 1px;
	padding: 1px 2px 1px 2px;
}

/* Right */
#pulp-systemtray {
	border-radius: 0px 0px 5px 0px;
	border-width: 0px 1px 1px 0px;
	padding: 1px 5px 1px 5px;
}

/* Button styling */

button {
	background-image: none;
	padding: 0px;
	border-width: 0px;
	border-radius: 0px;
	transition: box-shadow .5s;
}

button:hover {
	box-shadow: inset 0 -2px #503060;
}

/* Desktop Visualizer Widget */

.desk-visual {
	margin: 2px;
}

/* TODO Padding */
.desktop-item {
	transition: background-color .5s;
	border-radius: 5px;
}

.desktop-item box {
	padding-left: 1px;
	padding-right: 1px;
}

.desktop-item.active {
	background-color: rgba(0, 0, 0, 0.8);
}

.desktop-item.visible {
	background-color: rgba(0, 0, 0, 0.5);
}

.desktop-label {
	margin-left: 4px;
	margin-right: 2px;
	font-family: "Font Awesome 6 Free Solid", sans-serif;
	font-size: 10pt;
}

.window-item {
	transition: opacity .5s, box-shadow .5s;
	opacity: 1;
}

.window-item.active {
	box-shadow: inset 0 -2px #ffffff;
}

.window-item.demanding {
	box-shadow: inset 0 -2px #0c7cd5;
}

.window-item.hidden {
	opacity: .3;
}

/* Mainboard styling */

#bat {
	color: rgb(216, 216, 216);
}

#mem > .bar {
	color: rgb(24, 160, 240);
}

#cpu > .bar {
	color: rgb(240, 160, 24);
}

/* Clock styling */
#clock_text label {
	font-family: "Ubuntu", sans-serif;
	font-size: 7pt;
	margin-left: 3px;
	margin-right: 3px;
}

#window-layout {
	margin-left: 5px;
	margin-right: 5px;
}

#window-layout label {
	font-family: "Font Awesome 6 Free Solid", sans-serif;
	font-size: 10pt;
}