/* Transparent background */
window {
	background-color: rgba(0, 0, 0, 0);
}

/* Copied from taffybar default */

/* Top level styling */

.pulp-bar {
	border-style: solid;
	border-color: rgba(40, 24, 64, 0.8);
	background-color: rgba(32, 16, 56, 0.8);
}

/* Left */
#pulp-statusbar {
	border-radius: 0px 0px 0px 5px;
	border-width: 0px 0px 1px 1px;
	padding: 1px 5px 1px 5px;
}

/* Center */
#pulp-taskbar {
	border-radius: 0px 0px 5px 5px;
	border-width: 0px 1px 1px 1px;
	padding: 1px 2px 1px 2px;
}

/* Right */
#pulp-systemtray {
	border-radius: 0px 0px 5px 0px;
	border-width: 0px 1px 1px 0px;
	padding: 1px 5px 1px 5px;
}

/* Button styling */

button {
	background-image: none;
	padding: 0px;
	border-width: 0px;
	border-radius: 0px;
	transition: box-shadow .5s;
}

button:hover {
	box-shadow: inset 0 -2px #503060;
}

separator {
	background-color: rgba(80, 80, 80, 0.5);
	margin: 5px 2px;
}

/* Desktop Visualizer Widget */

desktopvisualizer {
	margin: 2px;
}

/* TODO Padding */
desktopitem {
	transition: background-color .5s;
	border-radius: 5px;
}

desktopitem box {
	padding-left: 1px;
	padding-right: 1px;
}

desktopitem.active {
	background-color: rgba(0, 0, 0, 0.8);
}

desktopitem.visible {
	background-color: rgba(0, 0, 0, 0.5);
}

desktopitem flowboxchild {
	padding: 0px;
}

desktopitem label {
	margin-left: 4px;
	margin-right: 4px;
	font-family: "Font Awesome 6 Free Solid", sans-serif;
	font-size: 11pt;
}

button.windowitem {
	transition: opacity .5s, box-shadow .5s;
	opacity: 1;
}

button.windowitem.active {
	box-shadow: inset 0 -2px #ffffff;
}

button.windowitem.demanding {
	box-shadow: inset 0 -2px #0c7cd5;
}

button.windowitem.hidden {
	opacity: .3;
}

/* Status display styling */

#bat {
	color: rgb(216, 216, 216);
}

imagebar#mem>image {
	color: rgb(216, 216, 216);
	-gtk-icon-shadow: none;
}

imagebar#mem {
	color: rgb(24, 160, 240);
}

imagebar#cpu>image {
	color: rgb(216, 216, 216);
	-gtk-icon-shadow: none;
}

imagebar#cpu.temp-20>image {
	color: rgb(216, 210, 210);
}

imagebar#cpu.temp-40>image {
	color: rgb(255, 200, 170);
}

imagebar#cpu.temp-60>image {
	color: rgb(255, 190, 120);
}

imagebar#cpu.temp-80>image {
	color: rgb(255, 150, 80);
}

imagebar#cpu.temp-100>image {
	color: rgb(255, 100, 40);
}

imagebar#cpu.temp-120>image {
	color: rgb(255, 60, 0);
}

imagebar#cpu {
	color: rgb(240, 160, 24);
}

#vol image {
	color: rgb(180, 180, 180);
}

/* Text clock */
#clock-text label {
	font-family: "Ubuntu", sans-serif;
	font-size: 7pt;
	margin-left: 3px;
	margin-right: 3px;
}

/* Window layout */
#window-layout {
	margin-left: 5px;
	margin-right: 5px;
}

#window-layout label {
	font-family: "Font Awesome 6 Free Solid", sans-serif;
	font-size: 10pt;
}

/* System Ctrl */
#pulp-sysctl {
	padding: 10px 15px;
	border: 10px inset rgba(40, 16, 56, 0.7);
	border-radius: 20px;
	background-color: rgba(84, 56, 108, 0.7);
}

#pulp-sysctl button {
	background-image: none;
	border-width: 3px;
	border-radius: 30px;
}

#pulp-sysctl button:focus {
	box-shadow: inset 0 -6px rgba(200, 200, 200, 0.5);
}

#pulp-sysctl button.btn-sys {
	border-color: rgb(100, 80, 120);
	background-color: rgb(120, 100, 140);
}

#pulp-sysctl button.btn-logout {
	border-color: rgb(140, 120, 60);
	background-color: rgb(160, 140, 90);
}

#pulp-sysctl button.btn-reboot {
	border-color: rgb(80, 105, 80);
	background-color: rgb(100, 125, 100);
}

#pulp-sysctl button.btn-poweroff {
	border-color: rgb(120, 60, 60);
	background-color: rgb(160, 80, 80);
}

/* WM Ctrl */
#pulp-wmctl {
	padding: 10px 15px;
	border: 10px inset rgba(40, 16, 56, 0.7);
	border-radius: 20px;
	background-color: rgba(84, 56, 108, 0.7);
}

#pulp-wmctl button {
	background-image: none;
	border-width: 3px;
	border-radius: 30px;
}

#pulp-wmctl button:focus {
	box-shadow: inset 0 -6px rgba(200, 200, 200, 0.5);
}

#pulp-wmctl button.btn-ctl {
	border-color: rgb(100, 80, 120);
	background-color: rgb(120, 100, 140);
}

#pulp-wmctl scrolledwindow {
	border: 5px inset rgb(40, 40, 40);
	border-radius: 10px;
}

#pulp-wmctl scrolledwindow label {
	padding: 10px;
	color: gray;
	background-color: rgb(66, 36, 84)
}