window {
  background-color: rgba(0, 0, 0, 0);
}

box.btn-area {
  padding: 10px 15px;
  border: 10px inset rgba(70, 70, 70, 0.8);
  border-radius: 20px;
  background-color: rgba(120, 120, 120, 0.8);
}

button {
  background-image: none;
  border-width: 1.5px;
}

button:focus {
  box-shadow: inset 0 -6px rgb(75, 100, 180);
}

.btn-sys {
  border-color: rgb(120, 100, 140);
  background-color: rgb(140, 120, 160);
}

.btn-logout {
  border-color: rgb(150, 120, 0);
  background-color: rgb(180, 150, 0);
}

.btn-reboot {
  border-color: rgb(0, 105, 0);
  background-color: rgb(0, 125, 0);
}

.btn-poweroff {
  border-color: rgb(135, 0, 0);
  background-color: rgb(180, 0, 0);
}
